/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25 Jan, 2021, 12:45:23 PM
    Author     : Heng Chiang Yong
*/

.header {background: #7777EE;color:white;font-size: 200%; font-weight: bold; padding:50px}
.text1 {background: #7777EE;color:white;font-size: 120%; font-weight: bold;font-family: verdana; padding:10px}
.text2 {background: #DEDEFF;color:white;font-size: 120%; font-weight: bold;font-family: verdana;padding:10px}
.footer {background: #7777EE;color:white;padding:15px; font-size: 80%;}
.nav {background: #DEDEFF; color:white; padding:15px; border-bottom-color: white; border-top-color: white; border-bottom-style: solid; border-top-style: solid; margin-left: 250px}
.content {background: #DEDEFF; color:black; padding:15px}
.content1 {background:  #7777EE; padding:15px}
.error {border-color: red; border-style: double; background: #DEDEFF; padding:3px; margin: 3px}
.info {border-color: green; border-style: double; background: #DEDEFF; padding:3px; margin: 3px}
.warn {border-color: yellow; border-style: double; background: #DEDEFF; padding:3px; margin: 3px}
.data {padding:3px}
.chat {color: grey; padding:3px; border-bottom-width: 1px; border-bottom-color: white; border-bottom-style: dashed}
.field label {display:inline-block; text-align:right; float:left;width:140px; margin: 2px}
.field input {display:inline-block; text-align:left;float:right;  margin: 2px}
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table1 thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
}

.styled-table thead tr {
    background-color: #dee9fa;
    color: #ffffff;
    text-align: center;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color:  #ccccff;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.bottom-left {
  color:white;  
  position: absolute;
  bottom: 8px;
  left: 100px;
}

/* Top left text */
.top-left {
  color:white;
  position: absolute;
  top: 20px;
  left: 100px;
}

/* Top right text */
.top-right {
  color:white;  
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  color:white;  
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  color:white;  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center{margin-left:auto;margin-right:auto}
